<p id="notice"><%= raw(notice) %></p>
<style>
  <%=  Diffy::CSS%>
</style>


<h3>最新版</h3>

<h4>title</h4>
  <strong>Titl:</strong>
  <%= @post.titl %>

<h4>body</h4>
  <%= simple_format(@post.body) %>


<h3>変更履歴一覧</h3>

<div class="panel-group" id="accordion">
  <% @post.versions.each  do |p|%>
    <div class="diff-list">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= p.id.to_s%>">
              ver.<%= p.id %>[<%= p.created_at %>]@who >> <%= link_to('back to this version', revert_path(p), :method => :post) unless p.id == 1%>
            </a>
          </h4>
        </div>
        <div id="collapse<%= p.id.to_s%>" class="panel-collapse collapse">
          <div class="panel-body">
            <h4>title</h4>
            <%= raw(Diffy::Diff.new(*p.changeset[:titl]|| ["nothing to change",""], :include_plus_and_minus_in_html => true).to_s(:html_simple)) %>
            <h4>body</h4>
            <%= raw(Diffy::Diff.new(*p.changeset[:body]|| ["nothing to change",""], :include_plus_and_minus_in_html => true).to_s(:html_simple)) %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>



<%= link_to 'Edit', edit_post_path(@post) ,class: 'btn primary-btn'%> |
<%= link_to 'Back', posts_path %>
